<h1>all flats</h1>
<ul>
  <% @flats.each do |flat|%>
    <!--<li><%#= flat["name"] %> - <%= flat["price"] %> <%= flat["priceCurrency"] %></li>-->
    <li><%= link_to flat["name"], flat_path(id: flat["id"]) %></li>
  <% end %>
</ul>
