<h1><%= @flat["name"] %></h1>


<!--Afficher les infos du flat trouvé-->
<!--<img src="<%#= @flat["imageUrl"] %>" alt="<%= @flat["name"] %>" width="600">-->
<%= image_tag @flat["imageUrl"], alt: @flat["name"], width: 600 %>
